*{
    font-family: "Open Sans";
}

body{
    padding: 5em;
}

#alert{
    margin-top: 10px;
}

#restart{
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}

#code-form{
    text-align: center;
}

#code{
    margin: 0;
    width: 15em;
}

.actor{
    max-width: 150px;
    margin: 1em;
}
